<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="LOG_STREAM" class="com.martin.config.LogStreamAppender"/>

    <logger name="com.martin" level="DEBUG" additivity="true">
        <appender-ref ref="LOG_STREAM"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
